[submodule "binder/binder"]
	path = binder/binder
	url = https://github.com/mmore500/gptp2026.git
	branch = binder
	shallow = true
[submodule "binder/binder-2024-10-20-example.ipynb"]
	path = binder/binder-2024-10-20-example.ipynb
	url = https://github.com/mmore500/gptp2026.git
	branch = binder-2024-10-20-example.ipynb
[submodule "bindle/bindle-2026-05-15-mp-vs-mt-beleagurement-ts"]
	path = bindle/bindle-2026-05-15-mp-vs-mt-beleagurement-ts
	url = https://github.com/mmore500/gptp2026.git
	branch = bindle-2026-05-15-mp-vs-mt-beleagurement-ts.py
	shallow = true
[submodule "bindle-2026-05-15-mp-vs-mt-beleagurement"]
	path = bindle/bindle-2026-05-15-mp-vs-mt-beleagurement
	url = https://github.com/mmore500/gptp2026.git
	branch = bindle-2026-05-15-mp-vs-mt-beleagurement.py
	shallow = true
[submodule "bindle/bindle-2026-05-16-lac-417"]
	path = bindle/bindle-2026-05-16-lac-417
	url = https://github.com/mmore500/gptp2026.git
	branch = bindle-2026-05-16-lac-417.py
	shallow = true
[submodule "bindle/bindle-2026-05-16-perf-quality"]
	path = bindle/bindle-2026-05-16-perf-quality
	url = https://github.com/mmore500/gptp2026.git
	branch = bindle-2026-05-16-perf-quality.py
	shallow = true
[submodule "tex"]
	path = tex
	url = https://github.com/mmore500/gptp2026.git
	branch = tex
[submodule "bindle/bindle-2026-05-16-weak-scaling"]
	path = bindle/bindle-2026-05-16-weak-scaling
	url = https://github.com/mmore500/gptp2026.git
	branch = bindle-2026-05-16-weak-scaling.py
